html {
    color: #042a2b;
    background-color: #427aa1;
    font-family:'Roboto',sans-serif;
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
canvas {
    width: 50%;
    border: 1px solid #042a2b;
    border-radius: 10px;
    box-sizing: border-box;
}
.response-buttons, .control-buttons {
    margin-top: 1em;
}
.sidebar {
    align-items: center;
    background-color: #ebf2fa;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    /* grid-column-gap: 20px; */
    grid-row-gap: 1em;
    padding: 1em;
    box-sizing: border-box;
}
.sidebar > label {
    text-align: right;
}
.sidebar > input {
    margin-left: 1em;
    margin-right: 1em;
}
.intro-box {
    margin-top: 1em;
    border-radius: 10px;
    background-color: #ebf2fa;
    padding: 1em;
}
.custom-button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    background-color: #4eb5f1;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    border:none;
}
.custom-button:hover {
    background-color: #4095c6;
}
.custom-button:disabled {
    color: #aaaaaa;
    background-color: #50a5d6
}
.log-box {
    margin-top: 1em;
    background-color: #ebf2fa;
    border: 1px solid #042a2b;
    padding: 0.5em 0.5em;
    overflow: scroll;
}
.log-text {
    margin-top: 1em;
    font-family: monospace;
}
